---
import Layout from '../layouts/Layout.astro';
import FeaturedMoments from '../components/FeaturedMoments.astro';
---

<Layout title="Featured Moments">
  <main>
    <FeaturedMoments />
  </main>
</Layout>

