---
import Layout from '../layouts/Layout.astro';
import FeaturedMoments from '../components/FeaturedMoments.astro';

import "@/styles/globals.css";
---

<Layout title="Featured Moments">
  <main>
    <FeaturedMoments />
  </main>
</Layout>

